{% extends "base.html" %}
{% block body %}
<div class="box">
  <h2>Login</h2>
  <form method="post">
    <label>Username<br><input name="username" required></label><br><br>
    <label>Password<br><input type="password" name="password" required></label><br><br>
    <button type="submit">Login</button>
  </form>
</div>
{% endblock %}


<!-- <!doctype html>
<title>Login test</title>
<h1>Login Page OK</h1>
<form method="post">
  <input name="username" placeholder="user">
  <input name="password" type="password" placeholder="pass">
  <button>Login</button>
</form> -->
